img {
    padding: 4;
    margin: 6;
    width: 250px;
    border-radius: 30px;
}
h2 {
    color: rgb(3, 67, 97);
    font-style: normal;
    font-family:'Verdana', sans-serif;
    font-size: 20px;
}
h3 {
    color:rgb(54, 3, 54);
    font-family: monospace;
    font-size: 18px;
}
body {
    background-color: rgba(186, 116, 10, 0.842);
}
nav {
    display: flex;
    justify-content: space-between;
}
h4 {
    font-family: monospace;
    color: rgb(54, 3, 54);
    text-decoration: underline;
}
p {
    font-family: monospace;
}
p:hover {
    background-color: rgba(186, 116, 10, 0.365);
}
.currentpage {
    color: indigo;
    font-style: italic;
}