img {
    padding: 4;
    margin: 6;
    width: 250px;
    border-radius: 30px;
}
h2 {
    color: rgb(22, 103, 119);
    font-style: normal;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
body {
    background-color: rgba(255, 166, 0, 0.764);
}
nav {
    display: flex;
    justify-content: space-between;
}
h4 {
    font-family: monospace;
    color: rgb(54, 3, 54)
}
p {
    font-family: monospace;
}